@font-face{
  font-family: bFont;
  src: url('./../static/fonts/Neutra-Text-Bold.otf') format('opentype');
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #fdfbed;
  font-family: bFont;
  width: 100%;
  height: 100vh;
}

.logo {
  box-sizing: border-box;
  padding: 0 0.5em;
  text-decoration: none;
  color: black;
}

.nav-link {
  font-size: 20px;
  box-sizing: border-box;
  padding: 0.5em 2em;
  color: whitesmoke;
  text-decoration: none;
}

.nav-link:hover {
  color: #323330;
  background-color: #f6e995;
  text-decoration: underline;
}

.navbar {
  grid-area: navbar;
  height: 60px;
  background-color: #F0DB4F;
  color: #323330;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background-color: rgb(175, 153, 6);
}


.main {
  grid-area: main;
  box-sizing: border-box;
  padding: 20px;
  font-weight: 600;
  font-size: 24px;
  overflow-y: scroll;
}

.post-body {
  padding: 0 120px;
}

.code {
  border-radius: 10px;
  background-color: white;
  color: crimson;
  font-size: 18px;
  padding: 5px;
}

@media screen and (min-width: 240px) {
  .sidebar {
    height: unset;
    text-align: center;
  }

  .nav-link {
    width: 100%;
  }

  body {
    display: flex;
    flex-direction: column;

  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    display: inline-flex;
    height: calc(100vh - 60px);
    align-items: flex-start;
  }
  body {
    display: grid;
    grid-template-rows: minmax(min-content,max-content) 2fr;
    grid-template-columns: minmax(min-content,max-content) 2fr;
    grid-template-areas:
      "navbar navbar"
      "sidebar main";
  }
}

