@font-face{
  font-family: bFont;
  src: url('./../static/fonts/Neutra-Text-Bold.otf') format('opentype');
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #fdfbed;
  font-family: bFont;
  width: 100%;
  height: 100vh;
}

.navbar {
  grid-area: navbar;
  height: 60px;
  background-color: #F0DB4F;
  color: #323330;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.logo {
  box-sizing: border-box;
  padding: 0 0.5em;
  text-decoration: none;
  color: black;
}

.nav-link {
  font-size: 20px;
  box-sizing: border-box;
  padding: 0.5em 2em;
  color: whitesmoke;
  text-decoration: none;
}

.nav-link:hover {
  color: #323330;
  background-color: #f6e995;
  text-decoration: underline;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background-color: rgb(175, 153, 6);
}

.main {
  grid-area: main;
  box-sizing: border-box;
  padding: 20px;
  font-weight: 600;
  font-size: 24px;
  overflow-y: scroll;
  text-align: justify;
  font-family: Lato;
}

.post-body {
  padding: 0 120px;
}

.code-section {
  position:relative;
  display: flex;
  align-items: center;
}

.collapse-checkbox {
  display: none;
}

.collapse-toggle {
  display: block;
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: whitesmoke;
  border-radius: 50%;
}

.collapse-toggle:hover {
  background-color: lightgray;
}

.collapse-checkbox + .collapse-toggle {
  background-image: url('/for-the-north-static/static/images/collapse.svg');
  top: 30px;
}

.collapse-checkbox:checked + .collapse-toggle {
  background-image: url('/for-the-north-static/static/images/expand.svg');
}

.collapse-checkbox:checked + .collapse-toggle + .collapse-content {
  height: 0;
  overflow: hidden;
}

.collapse-content {
  transition: height 0.2s linear;
  height: 400px;
  width: 100%;
}



@media screen and (min-width: 240px) {
  .sidebar {
    height: unset;
    text-align: center;
  }

  .nav-link {
    width: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .code {
    font-size: 10px!important;
  }
}

@media screen and (min-width: 800px) {
  .code {
    font-size: 16px!important;
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    display: inline-flex;
    height: calc(100vh - 60px);
    align-items: flex-start;
  }
  body {
    display: grid;
    grid-template-rows: minmax(min-content,max-content) 2fr;
    grid-template-columns: minmax(min-content,max-content) 2fr;
    grid-template-areas:
      "navbar navbar"
      "sidebar main";
  }
}

